body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  font-size: 26px;
  background: #ffd54f;
  color: #000;
}

.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
}

button {
  background: #ffd54f;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
a {
  color: #ffd54f;
  text-decoration: none;
}
